*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;

}
.text-center{
    text-align: center;
}
/* header section css */
.header-section{
    background-image: url('images/banner/banner2.png');
    background-size: cover;
    width: 100%;
    height: 100vh;

}
.header-title{
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
    /* border-radius: nullpx; */


}
.title{
    color: black;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
}
.btn-primary {
    margin-top: 25px;
    padding: 15px 35px;
    border-radius: 20px;
    background: orange;
    color: wheat;
    border: none;
    font-size: 17px;
    font-weight: 500;
}
/* header section css */
/* main sectiom scc */
.main-section{
    margin-top: 120px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
li {
    list-style: none;
    margin: 7px 13px;
}
ul{
    margin-top: 15px;
}
img.img-icon {
    height: 15px;
    width: 23px;
    
    margin: 5px;
}
/* servise section */
.service{

}
.skils-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.skill-title{
    font-size: 20px;
    font-weight: 600;
    
}
.section-title{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
}
.discription{
    text-align: center;
}
/* servise section */

/*footer section */
.footer-container{
    background-color: black;
    color: #fff;
    background-size: cover;
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-top: 100px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: ;
    margin-top: 20px;
    gap: 10px;
}
.footer-title{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}
.footer-discription{
    margin-bottom: 20px;
    font-size: 12px;
}
.emails{
    padding: 15px 30px;
    font-size: 20px;
}
.btn{
    padding: 15px 30px;
    margin-top: 20px;
}
/* footer section */

.about-section{
    background-image:url("./images/watch.pnggi") ;
    width: 1080px;
    height: 300px;
    margin-left: 150px;
    margin-top: 100px;
}
.titles {
    color: #fff;
    margin-left: 70px;
    font-size: 25px;
    margin-bottom: 27px;
}
.button {
    padding: 10px 20px;
    margin-left: 70px;
    color: red;
    font-size: 15px;
}
/* about section */